/*
COLORS:

PURPLE -
darker purple: #491D89
dark purple: #61379F
purple: #7952B3
light purple: #9B79CE
lighter purple: #C3ABE6
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-purple {
  background-color: #61379f;
}

.btn-purple {
  color: #fff !important;
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.btn-purple:hover {
  background-color: #9b79ce !important;
  border-color: #9b79ce !important;
}

.text-light-purple {
  color: #9b79ce;
}

.text-purple {
  color: #61379f;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* color: white; */
  background-color: #e9e3de;
}

nav {
  /* position: fixed; */
}

.navbar-nav a:not(:last-child) {
  margin-right: 2rem;
}

main {
  margin: 4.5rem 0;
}

.values {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.values h5 {}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfie-photo {
  width: 200px;
  /* height: 200px; */
  border-radius: 50%;
}

.bio {
  font-size: 1rem;
}

.bio p {
  /* line-height: 5px; */
}

.languages {
  margin: 4rem 0;
  line-height: 10px;
}

small {
  color: rgba(99, 99, 99, 0.582);
}
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem 0;
}

.skill-group {
  border: 1px solid #61379f;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 272px;
  min-height: 405px;

  padding: 2rem;
  margin: 1rem;
}

.skills .icon {
  font-size: 60px;
  color: #61379f;
}

.projects {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  /* margin: 5rem 0; */
}

.projects a {
  text-decoration: none;
}

.projects a:hover {
  color: #9b79ce;
}

.projects .row {
  padding: 3rem;
  margin: 1rem;
  border: 2px solid #e9e3de;
  border-radius: 1rem;
}

.projects .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects img {
  width: 80%;
}


.project-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.project {
  /* border: 1px solid red; */
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.contact form {
  /* width: 500px; */
}

.footer .icon {
  color: black;
  font-size: 30px;
}

.footer .icon:hover {
  color: #585858;
}


@media only screen and (min-width: 320px) and (max-width: 499px) {
  /* .about .values {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  } */

  .about .values h5 {
    font-size: 1rem;
    /* margin: 5px; */
  }

  .about .values span {
    height: 30px;
  }

  .projects .row:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .projects .row {
    display: flex;
    flex-direction: column;
    height: 720px;
  }

  .projects p {
    display: inline-block;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .about .values h5 {
    font-size: 1rem;
    /* margin: 5px; */
  }

  .about .values span {
    height: 30px;
  }

  .projects .row:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .projects .row {
    display: flex;
    flex-direction: column;
    height: 720px
  }

  .projects p {
    display: inline-block;
  }
}


@media only screen and (min-width: 500px) and (max-width: 786px) {
  .skill-group {
    margin: 0.7rem;
    min-width: 0;
  }
}